<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Base</title>
</head>

<header>
    <div id="Cabeçalho">
        <h1>Base</h1>
    </div>
</header>

<main>
    <div id="Bloco">
        <h3>Título</h3>
        <p>Médicos plantonistas, horistas, enfermeiros, anestesistas</p>
    </div>
    <style>

        body{
            width: 100%;
            height: 100vh;
        }
        #Bloco{
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: yellow;
            width: 750px;
        }

        #Bloco h3{
            display: flex;
            justify-content: left;
            flex-direction: column;
        }
    </style>
</main>

<footer>

</footer>

<script>

</script>

<body>
    
</body>
</html>